 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categories">
      <ion-icon name="home"></ion-icon>
      <ion-label class="tab-title">Sport Feeds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label class="tab-title">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label class="tab-title">Video</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="message">
      <ion-icon name="mail"></ion-icon>
      <ion-label class="tab-title">Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
      <ion-label class="tab-title">Notifications</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
