<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--
<ion-item>
  <ion-buttons slot="start" class="ionbutton">
    <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons> 
</ion-item>
-->
<ion-card>
  <iframe  allowtransparency="yes" src="https://player.vimeo.com/video/142923757?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:100%;height:100%;"></iframe>
<ion-card-header text-center>
  <ion-card-title class="headertitle" role="heading" aria-level="2" routerLink="/menu/footertabs/tabs/home/newspost" routerDirection="forward">Practice makes perfect!</ion-card-title>
</ion-card-header>

</ion-card>
  
    <ion-card>
        <iframe  allowtransparency="yes" src="https://player.vimeo.com/video/142923757?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:100%;height:100%;"></iframe>
      <ion-card-header text-center>
        <ion-card-title class="headertitle" role="heading" aria-level="2" routerLink="/menu/footertabs/tabs/home/newspost" routerDirection="forward">Practice makes perfect!</ion-card-title>
      </ion-card-header>
  
    </ion-card>
  
</ion-content>
